/* Fondo para el login */
.fondoLogin{
  background-image: url('../view/img/backgraund.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.imagenLogin{
  width: 190px;
  height: auto;
}

.imageNavBar{
  margin-top: -3px;
  width: 120;
  height: 75px;
  padding-left: 40px;
}
/* Estilos para el login */

#layoutAuthentication_content .container .card {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 85%;
  margin: 0 auto;
}

#layoutAuthentication_content .container .card .form-control {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
}

#layoutAuthentication_content .container .card .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#layoutAuthentication_content .container .card .btn {
  background-color: rgb(6, 90, 7); 
  color: white;
  border: none; 
  display: block;
  margin: 0 auto;
}

.logonav {
  width: 100px;
  height: auto;
}

.logonav img {
  margin-top: 10px;
  width: 65%;
  height: auto;
}